.booking {
    display: flex;
    flex-direction: column;
}

.booking .top-section .inner {
    display: flex;
    flex-direction: column;
}

.booking .title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    background-color: #00d9ec;
}

.booking .title-bar h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 32px;
    line-height: 36px;
    margin: 0;
    text-transform: none;
    color: white;
}

.booking .title-bar .toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
    font-weight: 400;
    color: white;
}

.booking .title-bar .toggle span {
    display: inline-block;
    margin-bottom: 5px;
}

.booking.active .title-bar .toggle .open {
    display: none;
}

.booking.active .title-bar .toggle .close {
    display: inline-block;
}

.booking .title-bar .toggle .close {
    display: none;
}

.booking .title-bar .toggle img {
    align-self: center;
    transform: rotate(180deg);
}

.booking.active .title-bar .toggle img {
    transform: none;
}

.booking .options {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 600;
    color: #003b4a;
    background-color: #f2f2f2;
}

.booking .options span {
    position: relative;
    display: inline-block;
    padding: 0 5px;
}

.booking .options span.selected::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ff8200;
}

.booking .bottom-section {
    padding: 25px 15px;
    background-color: #f2f2f2;
}

.booking .booking-form {
    width: 100%;
    max-width: 585px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.booking .booking-form label {
    font-size: 15px;
    font-weight: 600;
    color: #003b4a;
}

.booking .booking-form input {
    margin: 0;
    background: white;
    box-shadow: 0px 0px;
    border: 0;
}

.booking .select-label {
    position: relative;
}

.booking .booking-form select:focus,
.booking .booking-form input:focus {
    outline: none;
}

.booking .select-label select {
    margin-top: 7px;
    margin-bottom: 0;
    height: 42px;
    line-height: 42px;
    padding: 0 40px 0 15px;
    border: 1px solid #68d2df;
    background-color: #f6f6f6;
    color: #003b4a;
}

.booking .select-label .arrow {
    position: absolute;
    bottom: 1px;
    right: 1px;
    height: 40px;
    width: 40px;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.booking .select-label.active .arrow img {
    transform: rotate(180deg);
}

.booking .date-label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 15px;
}

.booking .date-label input {
    height: 42px;
    line-height: 42px;
    padding: 0 0 0 15px;
    border: 1px solid #68d2df;
    background-color: #f6f6f6;
    width: 73%;
    font-size: 15px;
    font-weight: 500;
    color: #003b4a;
}

.booking .date-label .overlay {
    position: absolute;
    bottom: 1px;
    right: 1px;
    height: 40px;
    width: 40px;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.booking .date-label .overlay i {
    color: #ff8200;
    font-size: 24px;
}

.booking .number-label {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.booking .number-label input {
    height: 35px;
    width: 25px;
    background: transparent;
    margin: 0 7px;
    padding: 0;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color: #003b4a;
}

.booking .number-label .inner {
   width: 68%;
   margin-left: auto;
   display: flex;
   align-items: center;
}

.booking .number-label .minus,
.booking .number-label .plus {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 1px solid #ff8200;
    cursor: pointer;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.booking .number-label .minus i,
.booking .number-label .plus i {
    color: #ff8200;
    font-size: 12px;
}

.booking .submit {
    width: 100%;
    max-width: 320px;
    padding: 12px 30px;
    text-align: center;
    border-radius: 25px;
    background-color: #ff8200;
    color: #003b4a;
    font-size: 17px;
    font-weight: 600;
    margin: auto;
}

.booking ::-webkit-input-placeholder {
    color: #003b4a;
    opacity: 1;
}

.booking :-moz-placeholder {
    /* Firefox 18- */
    color: #003b4a;
    opacity: 1;
}

.booking ::-moz-placeholder {
    /* Firefox 19+ */
    color: #003b4a;
    opacity: 1;
}

.booking :-ms-input-placeholder {
    color: #003b4a;
    opacity: 1;
}

@media (min-width: 750px) {
    .booking .top-section {
        background-color: #00d9ec;
    }
    .booking .top-section .inner {
        flex-direction: row;
        width: 100%;
        max-width: 1185px;
        margin: 0 auto;
    }
    .booking .title-bar .toggle {
        display: none;
    }
    .booking .options {
        background-color: transparent;
    }
}

@media (min-width: 1025px) {
    .booking .booking-form {
        max-width: 1185px;
        flex-direction: row;
        align-items: center;
    }
    .booking .date-label {
        display: block;
        margin: 0 40px 0 15px;
        width: 18%;
        min-width: 200px;
    }
    .booking .date-label input {
        width: 100%;
        margin-top: 7px;
    }
    .booking .number-label {
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }
    .booking .number-label .inner {
        position: relative;
        margin: 7px 5px 0;
        width: auto;
    }
    .booking .submit {
        width: 20%;
        max-width: 230px;
        margin: 0 0 0 auto;
    }
    .booking .select-label {
        width: 24%;
    }
    .booking .number-label input {
        width: 75px;
        pointer-events: none;
    }
    .booking .number-label .minus, 
    .booking .number-label .plus {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: #f2f2f2;
    }
    .booking .number-label .minus {
        left: 0;
    }
    .booking .number-label .plus {
        right: 0;
    }
    .booking .booking-form .center-item {
        margin: 0 40px;
    }
    .booking .options {
        font-size: 16px;
    }
    .booking .options span {
        margin-right: 25px;
        cursor: pointer;
    }
    .booking .options span.selected::after {
        bottom: -10px;
        height: 4px;
    }
    .booking .title-bar {
        margin-right: 20px;
    }
    .booking .date-label .overlay {
        width: 50px;
    }
}
