.personas {
    margin-bottom: 45px;
    overflow: hidden;
}

.personas .inner-panel {
    display: flex;
    flex-direction: column;
}

.personas .item {
    position: relative;
    width: 100%;
    margin-bottom: 5px;
}

.personas .item .title {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 5px 15px;
}

.personas .item .title::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00a9dd;
    opacity: 0.75;
    z-index: -1;
}

.personas .item .title h2 {
    margin: 0 5px 0 0;
    color: white;
    font-size: 26px;
    line-height: 30px;
}

.personas .item .title img {
    width: 15px;
}

.personas .item .img-cont {
    padding-bottom: 60%;
}

@media (min-width: 641px) {
    .personas .inner-panel {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 -3px;
    }
    .personas .item {
        margin: 0 3px 6px;
        width: calc(50% - 6px);
    }
}

@media (min-width: 1025px) {
    .personas {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto 50px;
    }
    .personas .inner-panel {
        min-height: 1000px;
    }
    .personas .item .img-cont {
        height: 100%;
        padding-bottom: 50%;
    }
    @supports(display: grid) {
        .personas .item .img-cont {
            padding: 0;
        }
    }
    .personas .item:first-child {
        width: calc(60% - 6px);
    }
    .personas .item:nth-child(2) {
        width: calc(40% - 6px);
    }
    .personas .item:nth-child(3) {
        width: calc(70% - 6px);
    }
    .personas .item:last-child {
        width: calc(30% - 6px);
    }
    .personas .item .title {
        padding: 20px 60px;
    }
    .personas .item .title h2 {
        font-size: 46px;
        line-height: 50px;
        margin: 0 15px 0 0;
    }
    .personas .item .title img {
        width: auto;
    }
}

/* end personas */

.highlights {
    margin-bottom: 20px;
    text-align: center;
}

.highlights .title-cont {
    padding: 0 15px 15px;
    text-align: center;
}

.highlights .title-cont h2 {
    font-family: 'Roboto Condensed', Arial Narrow, sans-serif;
    margin: 0;
    text-transform: none;
    font-size: 50px;
    line-height: 56px;
}

.highlights .view-all {
    display: inline-block;
    margin: 20px auto 0;
    padding: 3px 30px;
    background-color: #ff8200;
    border-radius: 22px;
    text-align: center;
    color: #003a48;
}

.highlights .slider {
    position: relative;
}

.highlights .slider ul.slick-dots {
    display: none !important;
}

.highlights .slider .arrow-cont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 51%;
    pointer-events: none;
    z-index: 1;
}

.highlights .slider .arrow-cont .custom-arrow {
    width: 44px;
    height: 44px;
    border-radius: 100%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00a9dd;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    pointer-events: all;
}

.highlights .slider .arrow-cont .custom-arrow.prev {
    left: 10px;
}

.highlights .slider .arrow-cont .custom-arrow.prev img {
    transform: rotate(180deg);
}

.highlights .slider .arrow-cont .custom-arrow.next {
    right: 10px;
}

.highlights .item,
.highlights .item .img-cont {
    position: relative;
}

.highlights .item .img-cont img {
    display: block;
    width: 100%;
}

.highlights .item .slide-content {
    text-align: center;
    padding: 20px 30px;
    background-color: #00a9dd;
}

.highlights .item .slide-content p,
.highlights .item .slide-content a {
    display: none;
}

.highlights .item .slide-content h3 {
    color: white;
    margin: 0;
    font-weight: 400;
    line-height: 30px;
}

@media (min-width: 641px) {
    .highlights {
        overflow: hidden;
    }
    .highlights .slider {
        margin: 0 -3px;
    }
    .highlights .item {
        margin: 0 3px;
    }
}