.highlights {
    margin-bottom: 45px;
    overflow: hidden;
}

.highlights .inner-panel {
    display: flex;
    flex-direction: column;
}

.highlights .item {
    position: relative;
    width: 100%;
    margin-bottom: 5px;
}

.highlights .item .title {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 5px 15px;
}

.highlights .item .title::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00a9dd;
    opacity: 0.75;
    z-index: -1;
}

.highlights .item .title h2 {
    margin: 0 5px 0 0;
    color: white;
    font-size: 26px;
    line-height: 30px;
}

.highlights .item .title img {
    width: 15px;
}

.highlights .item .img-cont {
    padding-bottom: 60%;
}

@media (min-width: 641px) {
    .highlights .inner-panel {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 -3px;
    }
    .highlights .item {
        margin: 0 3px 6px;
        width: calc(50% - 6px);
    }
}

@media (min-width: 1025px) {
    .highlights {
        width: 100%;
        margin: 0 auto 50px;
    }
    .highlights .inner-panel {
        min-height: 1000px;
    }
    .highlights .item .img-cont {
        height: 100%;
        padding-bottom: 50%;
    }
    @supports(display: grid) {
        .highlights .item .img-cont {
            padding: 0;
        }
    }
    .highlights .item:first-child {
        width: calc(60% - 6px);
    }
    .highlights .item:nth-child(2) {
        width: calc(40% - 6px);
    }
    .highlights .item:nth-child(3) {
        width: calc(70% - 6px);
    }
    .highlights .item:last-child {
        width: calc(30% - 6px);
    }
    .highlights .item .title {
        padding: 20px 60px;
    }
    .highlights .item .title h2 {
        font-size: 46px;
        line-height: 50px;
        margin: 0 15px 0 0;
    }
    .highlights .item .title img {
        width: auto;
    }
}

/* end highlights */

.custom_slider {
    text-align: center;
    width: 100%;
    margin: 0 auto 20px;
}

.custom_slider .title-cont {
    padding: 0 15px 15px;
    text-align: center;
}

.custom_slider .title-cont h2 {
    font-family: 'Roboto Condensed', Arial Narrow, sans-serif;
    margin: 0;
    text-transform: none;
    font-size: 50px;
    line-height: 56px;
}

.custom_slider .view-all {
    display: inline-block;
    margin: 20px auto 0;
    padding: 3px 30px;
    background-color: #ff8200;
    border-radius: 22px;
    text-align: center;
    color: #003a48;
}

.custom_slider .slider {
    position: relative;
}

.custom_slider .slider ul.slick-dots {
    display: none !important;
}

.custom_slider .slider .arrow-cont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 51%;
    pointer-events: none;
    z-index: 1;
}

.custom_slider .slider .arrow-cont .custom-arrow {
    width: 44px;
    height: 44px;
    border-radius: 100%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00a9dd;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    pointer-events: all;
}

.custom_slider .slider .arrow-cont .custom-arrow.prev {
    left: 10px;
}

.custom_slider .slider .arrow-cont .custom-arrow.prev img {
    transform: rotate(180deg);
}

.custom_slider .slider .arrow-cont .custom-arrow.next {
    right: 10px;
}

.custom_slider .item,
.custom_slider .item .img-cont {
    position: relative;
}

.custom_slider .item .img-cont img {
    display: block;
    width: 100%;
}

.custom_slider .item .slide-content {
    text-align: center;
}

.custom_slider .item .title-cont {
    position: relative;
    padding: 20px 30px;
    background-color: #00a9dd;
    z-index: 1;
}

.custom_slider .item .slide-content p,
.custom_slider .item .slide-content a {
    display: none;
}

.custom_slider .item .slide-content h3 {
    color: white;
    margin: 0;
    font-weight: 400;
    line-height: 30px;
}

@media (min-width: 641px) {
    .custom_slider {
        overflow: hidden;
    }
    .custom_slider .slider {
        margin: 0 -3px;
    }
    .custom_slider .item {
        margin: 0 3px;
    }
    .custom_slider .slider .arrow-cont {
        padding-top: 25%;
    }
}

@media (min-width: 1025px) {
    .custom_slider {
        margin: 0 auto 60px;
    }
    .custom_slider .slider {
        margin: 0 -4px;
    }
    .custom_slider .item {
        margin: 0 4px;
    }
    .custom_slider .item .slide-content {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: all 0.6s;
        transform: translateY(100%);
    }
    .custom_slider .item .slide-content p, 
    .custom_slider .item .slide-content a {
        display: block;
    }
    .custom_slider .item .slide-content p {
        padding: 0 60px;
        color: white;
        margin: 0 0 15px;
    }
    .custom_slider .item .slide-content a {
        display: inline-block;
        margin: 0 auto;
        padding: 8px 30px;
        background-color: #ff8200;
        border-radius: 22px;
        text-align: center;
        color: #003a48;
    }
    .custom_slider .item .slide-content .title-cont {
        padding: 17px 70px;
        background-color: transparent;
        transition: all 0.6s;
        transform: translateY(-100%);
    }
    .custom_slider .item .slide-content .title-cont::after,
    .custom_slider .item .slide-content::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #00a9dd;
        opacity: 0.75;
        z-index: -1;
        transition: all 0.3s;
    }
    .custom_slider .item:hover .slide-content .title-cont::after {
        opacity: 0;
    }
    .custom_slider .item:hover .slide-content::after {
        background-color: rgba(0, 58, 72, 0.85);
    }
    .custom_slider .item:hover .slide-content {
        transform: translateY(0);
    }
    .custom_slider .item:hover .slide-content .title-cont {
        transform: translateY(0);
    }
    .custom_slider .item .slide-content h3 {
        font-size: 22px;
        font-weight: 600;
    }
    .custom_slider .slider .arrow-cont {
        padding-top: 15%;
    }
    .custom_slider .slider ul.slick-dots {
        display: flex !important;
        justify-content: center;
        height:40px;
        width:100%;
        margin:35px 0 0;
        text-align:center;
        padding:0px;
        list-style:none;
    }
    .custom_slider .slider ul.slick-dots li {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        display:inline-block;
    }
    .custom_slider .slider ul.slick-dots li button {
        background-color:#c6c6c6!important;
        width:13px;
        height:13px;
        font-size:0px;
        padding:0px;
        margin:0px 4px 0px 4px; 
        border:2px #fff solid;  
        border-radius:50%;  
        vertical-align: top;
    }
    .custom_slider .slider ul.slick-dots li button:focus {
        outline: none;
    }
    .custom_slider .slider ul.slick-dots li.slick-active button {
        background-color: #003a48 !important;
    }
    .custom_slider .view-all {
        padding: 10px 30px;
    }
}

/* end custom slider */

.billboard {
    position: relative;
    width: 100%;
    margin: 0 auto 30px;
    z-index: 1;
}

.billboard .img-cont img {
    display: block;
    width: 100%;
}

.billboard .slide-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 675px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    z-index: 3;
}

.billboard .slide-content h2 {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.25);
    text-align: center;
    margin: 0;
    font-size: 44px;
    text-transform: none;
    line-height: 56px;
}

.billboard .slide-content a {
    display: inline-block;
    margin: 20px auto 0;
    padding: 13px 30px;
    background-color: #ff8200;
    border-radius: 22px;
    text-align: center;
    color: #003a48;
    font-size: 16px;
    line-height: 18px;
}

.banner.alternate .slide-content a {
    font-size: 18px;
    text-transform: uppercase;
    padding: 13px 15px;
}

@media (min-width: 1025px) {
    .billboard {
        margin: 0 auto 60px;
    }
    .billboard .slide-content a {
        padding: 10px 30px;
    }
    .billboard .slide-content {
        padding: 70px;
    }
    .billboard .slide-content h2 {
        font-size: 62px;
        line-height: 80px;
    }
}

/* end banner */

.tiles {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}

.tiles .title-cont {
    padding: 30px 40px 15px;
    text-align: center;
}

.tiles .title-cont h2 {
    font-family: 'Roboto Condensed', Arial Narrow, sans-serif;
    margin: 0 0 10px;
    font-size: 46px;
    text-transform: none;
    line-height: 56px;
}

.tiles .title-cont p {
    color: #838383;
    line-height: 22px;
    margin: 0;
}

.tiles .title-cont p a {
    line-height: 22px;
}

.tiles .inner-panel {
    display: flex;
    flex-direction: column;
}

.tiles .tile {
    margin-top: 4px;
    position: relative;
}

.tiles .tile img {
    display: block;
    width: 100%;
}

.tiles .tile .slide-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    text-align: center;
    pointer-events: none;
}

.tiles .tile .slide-content h3 {
    font-size: 28px;
    line-height: 34px;
    color: white;
    margin: 0;
}

.tiles .tile .slide-content .link {
    display: inline-block;
    margin: 15px auto 0;
    padding: 13px 40px;
    background-color: #ff8200;
    border-radius: 22px;
    text-align: center;
    color: #003a48;
}

.tiles .tile .slide-content .link a {
    color: inherit;
    line-height: 18px;
}

.tiles .tile .slide-content a {
    pointer-events: all;
}

@media (min-width: 641px) {
    .tiles .inner-panel {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 -3px;
    }
    .tiles .tile {
        margin: 6px 3px 0;
        width: calc(50% - 6px);
    }
    .tiles .title-cont {
        padding: 0 15px 25px;
    }
    .tiles .title-cont h2 {
        font-size: 64px;
        line-height: 72px;
        margin: 0 0 10px;
    }
}

@media (min-width: 1025px) {
    .tiles .tile .slide-content h3 {
        font-size: 44px;
        line-height: 64px;
        margin: 0 0 30px;
    }
    .tiles .tile .slide-content .link {
        padding: 15px 60px;
    }
}

/* end tiles */

.callout {
    padding: 45px 15px 30px;
    text-align: center;
    background-color: #def5f8;
    width: 100%;
    margin: 4px auto 0;
}

.callout .title {
    padding: 0 20px;
}

.callout .title span {
    display: block;
}

.callout .title1 {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 10px;
    color: #003a48;
}

.callout .title2 {
    font-size: 28px;
    line-height: 34px;
    margin: 0 0 20px;
    color: inherit;
}

.callout a {
    display: inline-block;
    width: 100%;
    max-width: 300px;
    margin: 15px auto 0;
    padding: 13px 40px;
    background-color: #ff8200;
    border-radius: 22px;
    text-align: center;
    color: #003a48;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
}

@media (min-width: 1025px) {
    .callout {
        padding: 65px 15px;
        margin: 6px auto 0;
    }
    .callout .title {
        width: 100%;
        max-width: 600px;
        padding: 0;
        margin: 0 auto;
    }
    .callout .title1 {
        font-size: 32px;
        line-height: 38px;
    }
    .callout .title2 {
        font-size: 44px;
        line-height: 52px;
    }
    .callout a {
        font-size: 21px;
        line-height: 23px;
    }
}

/* end callout */

.map-widget {
    position: relative;
    width: 100%;
    margin: 0 auto 30px;
    padding-bottom: 115%;
    overflow: hidden;
}

.map-widget::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35%;
    background: linear-gradient(to top, rgba(0, 171, 196, 1), rgba(0, 171, 196, 0) 100%);
    pointer-events: none;
}

.map-widget .map-cont {
    position: absolute;
    top: 0;
    left: 12%;
    width: 100%;
    height: 65%;
}

.map-widget .map-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px 40px;
    text-align: center;
}

.map-widget .map-content h2 {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    margin: 0 0 10px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    font-size: 44px;
    line-height: 48px;
    text-transform: none;
}

.map-widget .map-content p {
    color: white;
    line-height: 24px;
    margin: 0;
}

.map-widget .map-content .link {
    display: inline-block;
    margin: 15px auto 0;
    padding: 13px 60px;
    background-color: #ff8200;
    border-radius: 22px;
    text-align: center;
    color: #003a48;
    font-size: 18px;
    line-height: 18px;
}

.map-widget .map-content a {
    color: inherit;
    line-height: inherit;
}

@media (min-width: 641px) {
    .map-widget {
        padding-bottom: 65%;
    }
    .map-widget .map-content {
        justify-content: center;
        align-items: flex-start;
    }
    .map-widget .map-content .link {
        margin: 15px auto 0 0;
    }
    .map-widget .map-cont {
        left: 8%;
    }
}

@media (min-width: 1025px) {
    .map-widget {
        padding-bottom: 33%;
        margin: 0 auto 70px;
    }
    .map-widget .map-content {
        width: 35%;
        align-items: center;
    }
    .map-widget .map-cont {
        width: 65%;
        left: auto;
        right: 0;
        height: 100%;
    }
    .map-widget .map-content .link {
        margin: 25px auto 0;
    }
    .map-widget .map-content h2 {
        font-size: 66px;
        line-height: 80px;
        margin: 0 0 20px;    
    }
}

/* end map widget */

.award-widget {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto 30px;
    padding: 20px 15px;
    width: 100%;
    max-width: 955px;
}

.award-widget::before {
    content: "";
    position: absolute;
    top: 0;
    left: 15px;
    width: calc(100% - 30px);
    height: 3px;
    background-color: #ff8200;
}

.award-widget::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 15px;
    width: calc(100% - 30px);
    height: 3px;
    background-color: #ff8200;
}

.award-widget .badge {
    text-align: center;
    margin-bottom: 15px;
}

.award-widget .slide-content span {
    display: block;
    color: #00a9dd;
    font-size: 18px;
}

.award-widget .slide-content span:first-of-type {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.award-widget .slide-content h3 {
    font-style: italic;
    margin-top: 0;
}

@media (min-width: 641px) {
    .award-widget {
        flex-direction: row;
    }
    .award-widget .slide-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 15px;
    }
}

@media (min-width: 1025px) {
    .award-widget {
        padding: 30px 15px;
        margin: 0 auto 70px;
    }
    .award-widget::after,
    .award-widget::before {
        width: 100%;
        height: 6px;
    }
    .award-widget .badge {
        flex: 1;
        padding: 0 10px;
        margin: 0;
    }
    .award-widget .slide-content {
        flex: 2.5;
        padding: 0 25px;
    }
    .award-widget .slide-content span:first-of-type {
        font-size: 36px;
    }
    .award-widget .slide-content span:last-of-type {
        font-size: 22px;
    }
    .award-widget .slide-content h3 {
        font-size: 46px;
        line-height: 52px;
        margin-bottom: 15px;
    }
}

/* end award widget */

.carousel {
    position: relative;
    width: 100%;
    max-width: 1570px;
    margin: 0 auto 30px;
}

.carousel .arrow-cont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 71%;
    pointer-events: none;
}

.carousel .arrow-cont .custom-arrow {
    width: 44px;
    height: 44px;
    border-radius: 100%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00a9dd;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    pointer-events: all;
}

.carousel .arrow-cont .custom-arrow.prev img {
    transform: rotate(180deg);
}

.carousel .arrow-cont .custom-arrow.prev {
    left: 5px;
}

.carousel .arrow-cont .custom-arrow.next {
    right: 5px;
}

.carousel ul.slick-dots {
    display: none !important;
}

.carousel .slider {
    margin: 0 -3px;
}

.carousel .item {
    margin: 0 3px;
}

.carousel .item img {
    display: block;
    width: 100%;
}

.carousel .item .slide-content {
    padding: 25px 25px 10px;
}

.carousel .item .slide-content .link {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #003b49;
    padding: 6px 26px;
    border-radius: 20px;
    border: 2px solid #24b9f1;
}

.carousel .item .slide-content .link a {
    color: inherit;
    line-height: 18px;
}

.carousel .item .slide-content h5 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.carousel .item .slide-content p {
    line-height: 28px;
}

@media (min-width: 641px) {
    .carousel .arrow-cont {
        padding-top: 35%;
    }
}

@media (min-width: 1025px) {
    .carousel {
        margin: 0 auto 70px;
        padding-bottom: 40px;
    }
    .carousel .slider {
        padding: 0 25px;
        margin: 0 -7px;
    }
    .carousel .arrow-cont {
        padding-top: 18%;
    }
    .feat-slider .arrow-cont .custom-arrow.prev {
        left: 30px;
        transform: translateX(-50%);
    }
    .carousel .arrow-cont .custom-arrow.next {
        right: 30px;
        transform: translateX(50%);
    }
    .carousel .item {
        margin: 0 7px;
    }
    .carousel .item .slide-content {
        padding: 25px 0 10px;
    }
    .carousel .item .slide-content h5 {
        font-size: 23px;
        line-height: 28px;
        font-weight: 600;
    }
    .carousel .dots-cont {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    .carousel ul.slick-dots {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex !important;
        justify-content: center;
        align-items: flex-end;
        height: 40px;
        width: 100%;
        text-align: center;
        padding: 0px;
        list-style: none;
        margin: 0;
    }
    .carousel ul.slick-dots li {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        display: inline-block;
    }
    .carousel ul.slick-dots li button {
        background-color: #c6c6c6!important;
        width: 13px;
        height: 13px;
        font-size: 0px;
        padding: 0px;
        margin: 0px 4px 0px 4px;
        border: 2px #fff solid;
        border-radius: 50%;
        vertical-align: top;
    }
    .carousel ul.slick-dots li.slick-active button {
        background-color: #003a48 !important;
    }
}

/* end carousel */

.feat-content-banner {
    width: 100%;
    position: relative;
    z-index: 2;
}

.feat-content-banner::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55%;
    background: linear-gradient(to top, rgba(0,59,73,0.75) 0%, rgba(0,59,73,0) 100%);
    pointer-events: none;
    z-index: 1;
}

.feat-content-banner .img-cont img {
    display: block;
    width: 100%;
}

.feat-content-banner .slide-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    text-align: center;
    padding: 15px;
}

.feat-content-banner .slide-content h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    line-height: 30px;
    margin: 0 0 15px;
    text-shadow: 3px 3px 11px rgba(0,0,0,0.25), -3px -3px 11px rgba(0,0,0,0.25);
    color: white;
}

.feat-content-banner .slide-content h4 {
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: white;
    margin: 20px 0 0;
}

.feat-content-banner .slide-content .slide-link {
    display: inline-block;
    padding: 10px 15px;
    text-align: center;
    border-radius: 25px;
    background-color: #ff8200;
    color: #003b4a;
    font-size: 17px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
}