.detail-tabs {
    width: 100%;
    margin: 0 auto 30px;
    background-color: #003b49;
    display: none;
    padding: 20px 15px;
}

.detail-tabs a {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 24px;
    color: white;
    margin-right: 65px;
}

.detail-tabs a:last-child {
    margin-right: 0;
}

@media (min-width: 1025px) {
    .detail-tabs {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.custom-packages-panel {
    margin: 0 0 15px;
}

.custom-packages-panel .title-cont {
    padding: 0 15px;
}

.custom-packages-panel .inner-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.custom-packages-panel .inner-container .contentRender_name_plugins_core_textbox {
    padding: 0;
}

.custom-packages-panel .inner-container .two-col {
    display: flex;
    flex-direction: column;
}

.custom-packages-panel .inner-container .two-col .left-col,
.custom-packages-panel .inner-container .two-col .right-col {
    width: 100%;
    padding: 0 15px 20px;
}

.custom-packages-panel .inner-container .contentRender_name_plugins_core_textbox ul {
    margin-left: 15px;
}

@media (min-width: 641px) {
    .custom-packages-panel .inner-container .two-col {
        flex-direction: row;
    }
    .custom-packages-panel .inner-container .two-col .left-col,
    .custom-packages-panel .inner-container .two-col .right-col {
        width: 50%;
    }
    .custom-packages-panel .title-cont {
        margin-bottom: 25px;
    }
}