
/*
|-----------------------------------------------------------------------------------------------------------
| Main Nav Widget 
|-----------------------------------------------------------------------------------------------------------
*/
.nav-primary .item-inner,
.nav-industry .item-inner {
    position: relative;
}

.nav-primary {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    margin-top: 30px;
}

.nav-primary .primary-item {
    margin-right: 25px;
}

.nav-primary .primary-item:last-child {
    margin-right: 0;
}

.nav-primary .primary-item .item-inner a {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 24px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    color: white;
}

.nav-primary .primary-item .item-inner {
    position: relative;
}

.nav-primary .primary-item .nav-marker {
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.4s ease-in-out;
    opacity: 0;
}

.nav-primary .primary-item.has-dropdown:hover .nav-marker {
    opacity: 1;
}

.nav-primary .nav-dropdown {
    position: absolute;
    top: calc(100% + 25px);
    right: -20px;
    width: 100%;
    min-width: 990px;
    background-color: #003b49;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease-in-out;
}

.nav-primary .primary-item.has-dropdown:hover .nav-dropdown {
    opacity: 1;
    pointer-events: all;
}

.nav-primary .nav-dropdown ul {
    margin: 0;
    list-style: none;
    padding: 15px 0;
}

.nav-primary .nav-dropdown .nav-list {
    position: relative;
    width: 25%;
}

.nav-primary .nav-dropdown .nav-list ul {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
}

.nav-primary .nav-dropdown .nav-list li {
    margin-bottom: 5px;
    min-height: 36px;
}

.nav-primary .nav-dropdown .nav-list ul {
    background-color: #00323e;
    display: none;
}

.nav-primary .nav-dropdown li.has-submenu:hover > ul {
    display: block;
}

.nav-primary .nav-dropdown .nav-list ul ul {
    background-color: #002933;
}

.nav-primary .nav-dropdown .item-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 12px 7px 24px;
}

.nav-primary .nav-dropdown li:hover .item-inner {
    background-color: #00323e;
}

.nav-primary .nav-dropdown .nav-list ul li:hover .item-inner {
    background-color: #002b35;
}

.nav-primary .nav-dropdown .nav-list ul ul li:hover .item-inner {
    background-color: transparent;
} 

.nav-primary .primary-item .nav-dropdown .nav-list a {
    font-size: 17px;
    line-height: 20px;
    color: white;
    font-weight: 400;
    width: 95%;
    text-transform: none;
}

.nav-primary .primary-item .nav-dropdown .nav-list i {
    color: #ff8200;
    font-size: 24px;
}

.nav-primary .primary-item.has-dropdown:hover > .item-inner .dropdown-support,
.nav-industry .ind-item.has-dropdown:hover > .item-inner .dropdown-support {
    position: absolute;
    z-index: 100000;
    top: 100%;
    left: -30px;
    width: calc(100% + 60px);
    height: 40px;
    transition: transform .6s;
    transform: scaleY(0);
    transform-origin: center bottom;
}

.nav-primary .primary-item.has-dropdown > .item-inner a:hover + .dropdown-support,
.nav-industry .ind-item.has-dropdown > .item-inner a:hover + .dropdown-support {
    transition: none;
    transform: scaleY(1);
}

.nav-primary .nav-dropdown li:hover > .item-inner .dropdown-support,
.nav-industry .nav-dropdown li:hover > .item-inner .dropdown-support {
    position: absolute;
    z-index: 100000;
    top: -100%;
    right: 0;
    width: 10%;
    height: 300%;
    transform: scaleX(0);
    transform-origin: right center;
    transition: transform .8s;
}

.nav-primary .nav-dropdown li > .item-inner a:hover + .dropdown-support,
.nav-industry .nav-dropdown li > .item-inner a:hover + .dropdown-support {
    transform: scaleX(1);
    transition: none;
}

@media (min-width: 1250px) {
    .nav-primary .primary-item {
        margin-right: 45px;
    }
    .nav-primary .primary-item .item-inner a {
        font-size: 20px;
    }
}

.nav-industry {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    border-right: 1px solid #ff8200;
    border-left: 1px solid #ff8200;
    margin: 0 25px;
}

.nav-industry .ind-item {
    margin-right: 10px;
}

.nav-industry .ind-item:last-child {
    margin-right: 0;
}

.nav-industry .ind-item a {
    font-size: 12px;
    color: white;
    line-height: 19px;
}

.nav-industry .nav-marker {
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.4s ease-in-out;
    opacity: 0;
    pointer-events: none;
}

.nav-industry .nav-dropdown ul,
.nav-primary .nav-dropdown ul {
    margin: 0;
    list-style: none;
}

.nav-industry .nav-dropdown {
    position: absolute;
    top: calc(100% + 25px);
    left: 50%;
    transition: opacity 0.4s ease-in-out;
    width: 100%;
    min-width: 510px;
    background-color: #00323e;
    z-index: 2000;
    opacity: 0;
    pointer-events: none;
}

.nav-industry .ind-item.has-dropdown:hover .nav-dropdown {
    opacity: 1;
    pointer-events: all;
}

.nav-industry .ind-item.has-dropdown:hover .nav-marker {
    opacity: 1;
}

.nav-industry .ind-item:first-child .nav-dropdown {
    left: 0;
    transform: translateX(-15%);
}

.nav-industry .ind-item:nth-child(2) .nav-dropdown {
    left: 0;
    transform: translateX(-10%);
}

.nav-industry .ind-item:last-child .nav-dropdown {
    left: auto;
    right: 0;
    transform: translateX(10%);
}

.nav-industry .nav-dropdown .item-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 13px 8px 24px;
}

.nav-industry .nav-dropdown .item-inner a {
    width: 95%;
    color: white;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
}

.nav-industry .nav-dropdown li:hover {
    background-color: #002933;
}

.nav-industry .nav-dropdown i {
    color: #ff8200;
}

.nav-industry .nav-dropdown .nav-list {
    position: relative;
    width: 50%;
    padding: 15px 0;
}

.nav-industry .nav-dropdown .nav-list ul {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    padding: 15px 0;
    background-color: #002933;
}

@media (min-width: 1250px) {
    .nav-industry .ind-item { margin-right: 20px; }
    .nav-industry .ind-item a {
        font-size: 14px;
    }
}

/*
|-----------------------------------------------------------------------------------------------------------
| Interior Nav Widget 
|-----------------------------------------------------------------------------------------------------------
*/



/*
|-----------------------------------------------------------------------------------------------------------
| Footer Nav Widget 
|-----------------------------------------------------------------------------------------------------------
*/

.footer-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 0 35px;
    list-style: none;
}

.footer-nav li {
    margin: 0 auto 10px;
}

.footer-nav li:last-child {
    margin-bottom: 0;
}

.footer-nav a {
    color: white;
    font-weight: 500;
}

@media (min-width: 1025px) {
    .footer-nav {
        margin: 0 0 20px;
    }
}

/*
|-----------------------------------------------------------------------------------------------------------
| Mobile Nav 
|-----------------------------------------------------------------------------------------------------------
*/

.mobilenav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.mobilenav::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,59,73,0.95);
    display: none;
}

.mobilenav .mobile-dd {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    max-width: 560px;
    display: none;
    z-index: 1000;
}

.mobilenav .mobile-dd .mobile-dd-top {
    position: relative;
    padding-top: 25px;
}

.mobilenav .mobile-dd .mobile-dd-top::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,59,73,0.9);
    z-index: -1;
}

.header-section.mobile-open .mobilenav::after {
    display: block;
}

.header-section.mobile-open .mobilenav .mobile-dd {
    display: block;
    pointer-events: all;
}

.mobilenav ul {
    margin: 0;
    list-style: none;
}

.mobilenav ul ul {
    display: none;
}

.mobilenav li.has-submenu.active > ul {
    display: block;
}

.mobilenav .item-inner {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background-color: rgba(0,59,73,0.95);
    border-bottom: 1px solid #056884;
}

.mobilenav .nav-list ul li .item-inner {
    border-bottom: 0;
    z-index: 1;
}

.mobilenav .nav-list ul li .item-inner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,169,221,0.4);
    z-index: -1;
}

.mobilenav .nav-list ul ul li .item-inner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(163,185,190,0.8);
    z-index: -1;
}

.mobilenav .nav-list a {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
}

.mobilenav .nav-list ul ul a {
    color: #002933;
}

.mobilenav .nav-list ul a {
    font-size: 18px;
    text-transform: none;
}

.mobilenav .nav-list ul li {
    border: 0;
}

.mobilenav .nav-list ul li > .item-inner {
    padding: 10px 15px 7px;
    margin-bottom: 4px;
}

.mobilenav .nav-list ul li > .item-inner::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: rgba(0,59,73,0.9);
}

.mobilenav .nav-list .toggle-parent {
    display: inline-flex;
    margin-left: 8px;
}

.mobilenav .nav-list .toggle-parent img.close {
    display: none;
}

.mobilenav .nav-list .has-submenu.active > .item-inner > .toggle-parent img.close {
    display: inline;
}

.mobilenav .nav-list .has-submenu.active > .item-inner > .toggle-parent img.open {
    display: none;
}

.mobilenav .nav-list > .has-submenu.active > .item-inner > a {
    color: #ff8200;
}

.mobilenav .nav-list-industry {
    position: relative;
    margin: 15px 0 0;
}

.mobilenav .nav-list-industry::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15px;
    background-color: rgba(0,59,73,0.9);
    transform: translateY(-100%);
}

.mobilenav .nav-list-industry a {
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    color: white;
}

.mobilenav .nav-list-industry .item-inner {
    border: 0;
}

.mobilenav .phone {
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    color: white;
    padding-left: 15px;
    margin-bottom: 10px;
}

.mobilenav .phone i {
    color: #ff8200;
    margin-right: 4px;
}

.mobilenav .mobile-dd-bottom {
    background-color: rgba(0,59,73,0.9);
    padding: 15px 0;
}

