.mobile-search {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 15px 25px;
}

.mobile-search input {
    height: 30px;
    margin: 0;
    padding: 0 10px;
    line-height: 30px;
    box-shadow: 0px 0px;
    width: 72%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: 1px solid #00a9dd;
}

.mobile-search .submit {
    height: 30px;
    width: calc(28% - 3px);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #ff8200;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #003845;
    font-size: 16px;
    font-weight: 600;
}

.header-section .search-cont {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin-right: 10px;
    cursor: pointer;
}

.header-section .top-header .search-cont {
    width: 36px;
    height: 36px;
}

.header-section .search-cont::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color: #00a9dd;
    opacity: 0.35;
    z-index: -1;
}

.header-section .search-cont i {
    font-size: 17px;
    color: #68d2df;
}

.header-section.mobile-open .search-cont {
    z-index: -1;
}

.primary-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    height: 50px;
    width: 575px;
    line-height: 50px;
    transition: opacity 0.4s ease-in-out;
    opacity: 0;
    pointer-events: none;
}

.header-section .top-header .search-cont.active .primary-search {
    opacity: 1;
    pointer-events: all;
}

.header-section .top-header .search-cont.active {
    pointer-events: none;
}

.primary-search input {
    margin: 0;
    padding: 0 70px 0 35px;
    background: white;
    border: 1px solid black;
    box-shadow: 0px 0px;
    color: #a4a4a4;
    font-size: 17px;
    font-weight: 500;
    height: 100%;
}

.primary-search input ::-webkit-input-placeholder {
    color: #a4a4a4;
    opacity: 1;
    font-size: 17px;
    font-weight: 500;
}

.primary-search input :-moz-placeholder {
    /* Firefox 18- */
    color: #a4a4a4;
    opacity: 1;
    font-size: 17px;
    font-weight: 500;
}

.primary-search input ::-moz-placeholder {
    /* Firefox 19+ */
    color: #a4a4a4;
    opacity: 1;
    font-size: 17px;
    font-weight: 500;
}

.primary-search input :-ms-input-placeholder {
    color: #a4a4a4;
    opacity: 1;
    font-size: 17px;
    font-weight: 500;
}

.primary-search .submit {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    width: 37px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00a9dd;
    border-radius: 100%;
    cursor: pointer;
}

.primary-search .submit i {
    color: white;
    font-size: 13px;
}

.header-section .top-header .search-cont [data-close-primarysearch] {
    position: absolute;
    top: 7px;
    right: 5px;
    cursor: pointer;
    color: #003b49;
    font-size: 15px;
}