/*
|-----------------------------------------------------------------------------------------------------------
| FONTS
|-----------------------------------------------------------------------------------------------------------
|
*/
/*

Place all custom fonts here for reference

font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Condensed', sans-serif;

*/
/*
|-----------------------------------------------------------------------------------------------------------
| RESET STYLES
|-----------------------------------------------------------------------------------------------------------
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,
big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,tt,var,center,dl,
dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,
canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,
time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block; }

body { line-height: 1; }

p ol,
p ul { list-style: none; }

blockquote,
q { quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
|-----------------------------------------------------------------------------------------------------------
| GLOBAL TAG STYLES
|-----------------------------------------------------------------------------------------------------------
*/

body {
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    color: #595959;
    overflow-x: hidden;
}

a,
a:link,
a:visited,
a:active {
    color: #00aeef;
    font-weight: bold;
}
h1 {
    color: #003b49;
    font-size: 48px;
    line-height: 54px;
    margin-top: 40px;
    margin-bottom: 10px;
    font-family: 'Roboto Condensed', Arial Narrow, sans-serif;
    font-weight: 400;
}
h2 {
    color: #003a48;
    font-size: 28px;
    line-height: 36px;
    margin-top: 40px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}
h3 {
    color: #003b49;
    font-size: 20px;
    line-height: 26px;
    margin-top: 40px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}
h4 {
    color: #00a1d3;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}
h5 {
    color: #595959;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
h6 {
    color: #595959;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
@media (min-width: 641px) {
    h1 {
        font-size: 48px;
        line-height: 54px;
        margin-bottom: 6px;
    }
    h2 {
        font-size: 45px;
        line-height: 52px;
    }
    h3 {
        font-size: 22px;
        line-height: 26px;
    }
    h4 {
        font-size: 20px;
        line-height: 24px;
    }
    h5 {
        font-size: 18px;
        line-height: 24px;
    }
    h6 {
        font-size: 16px;
        line-height: 20px;
    }
}
@media (min-width: 1025px) {
    h1 {
        font-size: 68px;
        line-height: 70px;
        margin-bottom: 40px;
    }
    h2 {
        font-size: 45px;
        line-height: 52px;
    }
    h3 {
        font-size: 22px;
        line-height: 26px;
    }
}
h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}
p {
    margin-bottom: 20px;
}
p, 
table tr th, 
table tr td {
    color: #595959;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
p, 
table tr th, 
table tr td, a:link, 
a:visited, a:active, 
ul, ol, dl {
    font-size: 16px;
    line-height: 37px;
}
@media (min-width: 641px) {
    p, 
    table tr th, 
    table tr td, 
    a:link, 
    a:visited, 
    a:active, 
    ul, 
    ol, 
    dl {
        font-size: 16px;
        line-height: 22px;
    }
}
@media (min-width: 1025px) {
    p, 
    table tr th, 
    table tr td {
        line-height: 26px;
    }
}
ul { margin-left: 1.8em; }

::-webkit-input-placeholder {
    color: #c9bea7;
    opacity: 1;
}
:-moz-placeholder {
    /* Firefox 18- */
    
    color: #c9bea7;
    opacity: 1;
}
::-moz-placeholder {
    /* Firefox 19+ */
    
    color: #c9bea7;
    opacity: 1;
}
:-ms-input-placeholder {
    color: #c9bea7;
    opacity: 1;
}

.shared-button,
a.shared-button {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #003b49;
    padding: 6px 32px;
    border-radius: 20px;
    border: 2px solid #24b9f1;
}

@media (min-width: 1025px) {
    .shared-button,
    a.shared-button {
        font-size: 16px;
        padding: 7px 32px;
    }
}

/*
|-----------------------------------------------------------------------------------------------------------
| HEADER SECTION
|-----------------------------------------------------------------------------------------------------------
*/

.header-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.header-section .top-nav-cont {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 20px 15px 0;
}

.header-section .header-right {
    display: none;
}

.header-section .logo {
    display: block;
    width: 45%;
    max-width: 200px;
    z-index: 100;
}

.header-section .logo img {
    display: block;
    width: 100%;
}

.header-section .header-right-mobile {
    width: 55%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.header-section .header-right-mobile .top-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.header-section .toggle-mobile-menu {
    display: flex;
    align-items: center;
}

.header-section .toggle-mobile-menu .close {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.header-section.mobile-open .toggle-mobile-menu .close {
    opacity: 1;
    z-index: 100;
}

.header-section .toggle-mobile-menu .mobile-menu {
    position: relative;
}

.header-section .weather-cont {
    margin-right: 15px;
    color: white;
    font-weight: 600;
}

.header-section .top-header .weather-cont {
    font-size: 14px;
    margin-right: 15px;
}

.header-section .weather-cont .icon {
    color: #ff8200;
    margin-right: 3px;
}

.header-section .top-header .weather-cont .icon {
    font-size: 19px;
}

.header-section .header-right-mobile .bottom-section {
    text-align: right;
}

.header-section .header-right-mobile .booking-link {
    position: relative;
    padding: 5px 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    background-color: #ff8200;
    font-size: 14px;
    text-transform: uppercase;
    color: #003a48;
    border-radius: 25px;
    line-height: 15px;
    z-index: 1;
}

.header-section .top-header .booking-link {
    padding: 10px 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    background-color: #ff8200;
    font-size: 15px;
    text-transform: uppercase;
    color: #003a48;
    border-radius: 25px;
    line-height: 17px;
    margin-right: 15px;
}

@media (min-width: 1250px) {
    .header-section .top-header .booking-link {
        font-size: 17px;
    }
    .header-section .top-header .weather-cont,
    .header-section .top-header .booking-link {
        margin-right: 35px;
    }
}

.header-section .top-header {
    position: relative;
}

.header-section .top-header,
.header-section .bottom-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-section .phone {
    display: inline-flex;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.header-section .phone i {
    color: #ff8200;
    margin-right: 8px;
}

.header-section .top-header .phone {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

@media (min-width: 1025px) {
    .header-section { height: 125px; }
    .header-section .header-right-mobile {
        display: none;
    }
    .header-section .header-right {
        display: flex;
        flex-direction: column;
    }
    .header-section .top-nav-cont {
        padding: 25px 30px 0;
    }
    .header-section .logo {
        width: auto;
    }
}

/*
|-----------------------------------------------------------------------------------------------------------
| BODY SECTION
|-----------------------------------------------------------------------------------------------------------
*/

.content {
    position: relative;
    width: 100%;
}

.controlled-width {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.row {
	max-width: 1440px;
    margin: 0 auto;
    margin-left: -15px;
    margin-right: -15px;
    width: inherit;
}

.contentRender_name_plugins_core_textbox {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px 15px;
}

.contentRender_name_plugins_core_textbox .contentRender_name_plugins_core_textbox {
    padding: 0;
}

.intro-panel {
    width: 100%;
    max-width: 715px;
    margin: 0 auto;
    padding: 35px 20px;
    text-align: center;
}

.intro-panel.centered {
    text-align: center;
}

.intro-panel p {
    text-align: left;
}

.intro-panel.centered p {
    text-align: center;
}

.intro-panel.narrow {
    max-width: 530px;
}

.intro-panel .intro-panel {
    padding: 0;
}

/*
|-----------------------------------------------------------------------------------------------------------
| FOOTER SECTION
|-----------------------------------------------------------------------------------------------------------
*/

.footer {
    position: relative;
}

.footer .footer-top {
    padding: 35px 15px;
    background-color: #68d2df;
}

.footer-bottom {
    padding: 35px 15px;
    background-color: #003a48;
    text-align: center;
    overflow-x: hidden;
}

.footer .footer-bottom .inner-panel {
    width: 100%;
    max-width: 410px;
    margin: 0 auto;
}

.footer-bottom p {
    color: white;
    font-weight: 600;
    margin-bottom: 15px;
}

.footer-bottom .booking-submit {
    padding: 5px;
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    background-color: #ff8200;
    font-size: 24px;
    text-transform: uppercase;
    color: #003a48;
    margin: 0 auto 35px;
    border-radius: 22px;
}

.footer .footer-logo {
    display: block;
    margin-bottom: 25px;
}

.footer .phone {
    display: inline-flex;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.footer .phone i {
    color: #ff8200;
    margin-right: 8px;
}

.footer .copyright {
    display: inline-block;
    color: #5bcfde;
    font-size: 14px;
    line-height: 22px;
}

.footer .made-by {
    display: inline-block; 
    margin-top: 20px;
}

.footer .made-by img {
    width: 150px;
}

@media (min-width: 641px) {
    .footer-bottom .booking-submit {
        padding: 10px;
    }
}

@media (min-width: 1025px) {
    .footer .footer-top {
        padding: 50px 15px;
    }
    .footer-bottom .booking-submit {
        margin: 0 auto 40px;
    }
}