.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icon {
    font-weight: normal !important;
    display: inline-flex;
    align-items: center;
}

.footer .social-icon {
    font-size: 23px;
    color: #5bcfde;
    margin-right: 25px;
}

.footer .social-icons {
    margin-bottom: 35px;
}

.social-icons .social-icon:last-child {
    margin-right: 0;
}

.footer .social-icon img {
    width: 22px;
}

@media (min-width: 1025px) {
    .footer .social-icons {
        margin-bottom: 50px;
    }
    .footer .social-icon {
        font-size: 32px;
        margin-right: 35px;
    }
    .footer .social-icon img {
        width: 28px;
    }
    .footer .phone {
        margin-bottom: 45px;
    }
}